/* CSS declare variables */
:root {
  --black: #212322;
  --black-gray: #434343;
  --light-gray: #f0f0f0;
  --gold: #9e9d24;
  --white: #ffffff;
  /* 
  --red: #bb0a01;
  --dark-red: #810600;
  --light-pink: #e4dadf;
  --very-light-gray: #c5cfd3;
  --light-gray: #F0F0F0;
  
  */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* flex box for navigation bar */
.flex-nav-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
}

/*margin between navigaton bar items*/
.nav-item {
  margin-top: 1rem;
  margin-right: 3rem;
}

/* Navigation colour links */
nav li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

nav li a:hover {
  color: var(--gold);
}

/* Only the logo */
.nav-item:first-child {
  margin-right: auto;
  margin-left: 5rem;
}

.logo {
  height: 50px;
}

/* Welcome image */
#welcome-message {
  background-image: url("/Mylonas-Family-Groves-Website/src/img/Welcome-1920b.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item {
  font-family: "Montaga", serif;
  font-weight: normal;
}

#welcome-message div h2 {
  font-size: 56px;
}

#welcome-message div h3 {
  margin-top: 2rem;
  font-size: 24px;
  color: #b4b5a0;
}

/* Presentation of EVOO */
#presentation-EVOO {
  background-color: var(--black-gray);
  color: var(--white);
  width: 1920px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#organic {
  transform: rotate(270deg);
  margin-right: -1.25em;
}

#presentation-EVOO > div:first-child {
  font-size: 72px;
}

#right-text {
  margin-left: 1em;
  font-size: 24px;
}

#flex-limited-edition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#limited-edition {
  margin-top: 1em;
  font-size: 24px;
}

#flex-limited-edition div > img {
  height: 500px;
  border-radius: 500px;
}

#right-text {
  width: 25%;
  text-align: center;
  font-size: 24px;
}

#right-text div h2 {
  margin-bottom: 1em;
}

/* The Estates */
#the-estates {
  background-image: url(/Mylonas-Family-Groves-Website/src/img/the_estates_only.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
}
