/* table of contents
  1.CSS declare variables
  2.Navigation Bar
  3.Homepage
    3.1 Welcome image
    3.2 Presentation of EVOO
    3.3 The Estates
    3.4 Manifesto
    3.5 Quality Awards
  4.Footer
  5.About Us
    5.1 Our Family
    5.2 Our Vision
    5.3 Our Land
    5.4 Meet Us
  6.Products
    6.1 Your EVOO
    6.2 Quality
    6.3 Characteristics
  7.Our Groves
    7.1 From Our Groves to Your Table
    7.2 Gallery
      7.2.1 Gallery's Photos
      7.2.2 Gallery's Pop Up Box
  8.Contact Us
  9.Weather API
  10.Responsive for Laptops
    10.1 Play the animation only in 1920px
    10.2 max-width:1536px
    10.3 max-width:1366px
  11.Responsive for Tablets
    11.1 max-width:1280px
    11.2 max-width:768px
  12.Responsive for Smartphones 360px
  13.Vertical media query
*/

/* CSS declare variables */
:root {
  --gray: #e2e2e2;
  --light-gray: #929fa6;
  --dark-gray: #9b9b9b;
  --black-gray: #434343;
  --black: #212322;
  --gold: #9e9d24;
  --white: #ffffff;
  --red: #bb0a01;
  --primary-color: #212322;
  --secondary-color: #212322;
  --overlay-color: #212322e8;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.cl-line-heigth {
  line-height: 25px;
}

.small-line-heigth {
  line-height: 22px;
}

/*---------------- Navigation Bar ----------------*/

/* flex box for navigation bar */
.flex-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
  font-size: 16px;
}

/* Hide the second logo (appeared only at max-width 768px) */
.image2 {
  display: none;
}

/*margin between navigaton bar items*/
.nav-item {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-right: 3rem;
}

/* Navigation colour links */
.flex-list li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.flex-list li a:hover {
  color: var(--gold);
}

/* Only the logo */
nav ul .nav-item:first-child {
  margin-right: auto;
  margin-left: 5rem;
}

.logo {
  height: 50px;
}

#burger-icon {
  display: none;
}

.menu-wrap {
  display: none;
}

/*---------------- Navigation Bar End ----------------*/

/*------------------------------------ Homepage ------------------------------------*/
/*---------------- Welcome image ----------------*/
#welcome {
  background-image: url("../img/Milonas_land_illustration-04.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

#tree {
  position: absolute;
  right: 66%;
  top: -5%;
  height: 700px;
  z-index: -1;
}

#clouds {
  position: absolute;
  right: -5%;
  top: -5%;
  height: 450px;
  z-index: -1;
}

#olive {
  position: absolute;
  right: 10%;
  top: 5%;
  height: 450px;
  z-index: -1;
}

#mill {
  position: absolute;
  right: 5%;
  top: 46.2%;
  height: 150px;
  z-index: -1;
}

.cls-2mill {
  animation-name: spin;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transform-origin: 290.1px 234px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#woman {
  position: absolute;
  right: 69.1%;
  top: 21.4%;
  height: 320px;
  z-index: 1;
}

.cls-7woman {
  animation-name: harvest;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: 15;
  transform-origin: 165px 200px;
}

@keyframes harvest {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.leaves {
  animation-name: moving;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 3.4s;
  animation-iteration-count: 15;
  transform-origin: 165px 200px;
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0.4%);
  }
  75% {
    transform: translateX(-0.08%);
  }
  100% {
    transform: translateX(0%);
  }
}

.nearleaves {
  animation-name: nearmoving;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 3.4s;
  animation-iteration-count: 15;
  transform-origin: 165px 200px;
}

@keyframes nearmoving {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0.2%);
  }
  75% {
    transform: translateX(-0.05%);
  }
  100% {
    transform: translateX(0%);
  }
}

.secondaryleaves {
  animation-name: secondarymoving;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 3.4s;
  animation-iteration-count: 15;
  transform-origin: 165px 200px;
}

@keyframes secondarymoving {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0.1%);
  }
  75% {
    transform: translateX(-0.03%);
  }
  100% {
    transform: translateX(0%);
  }
}

.small-olives {
  width: 20px;
  object-fit: cover;
  animation-name: olivesmoving;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 3.5s;
  animation-iteration-count: 7;
  transform-origin: 165px 200px;
}

@keyframes olivesmoving {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(3.5%);
  }
  75% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

#olive1 {
  position: relative;
  top: 64px;
  left: 450px;
  z-index: 2;
}

#olive2 {
  position: relative;
  top: 50px;
  left: 390px;
}

#olive3 {
  position: relative;
  top: 150px;
  left: 300px;
}

#olive4 {
  position: relative;
  top: 70px;
  left: 280px;
}

#olive5 {
  position: relative;
  top: 120px;
  left: 70px;
}

#olive6 {
  position: relative;
  top: 210px;
  left: 190px;
}

#olive7 {
  position: relative;
  top: 290px;
  left: 120px;
}

#olive8 {
  position: relative;
  top: 100px;
  left: 140px;
}

#olive9 {
  position: relative;
  top: 110px;
  left: 290px;
}

#olive10 {
  position: relative;
  top: 220px;
  left: 220px;
  z-index: 2;
}

#olive11 {
  position: relative;
  top: 610px;
  left: 170px;
}

#olive12 {
  position: relative;
  top: 270px;
  left: 100px;
}

#olive13 {
  position: relative;
  top: 280px;
  left: 133px;
}

#olive14 {
  position: relative;
  top: 250px;
  left: 80px;
}

#olive15 {
  position: relative;
  top: 120px;
  left: 95px;
}

#olive16 {
  position: relative;
  top: 290px;
  left: 195px;
}

.item {
  font-family: "Montaga", serif;
  font-weight: normal;
}

#welcome-message {
  margin-top: 5em;
  overflow-x: visible;
}

#welcome-message h2 {
  font-size: 56px;
  animation-name: headerdown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  overflow-x: visible;
}

@keyframes headerdown {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

#welcome-message h3 {
  margin-top: 2rem;
  font-size: 24px;
  color: #b4b5a0;
  animation-name: headerup;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
}

@keyframes headerup {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.move-down-bounce-class {
  animation-name: movedownbounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes movedownbounce {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  75% {
    transform: translateY(-1%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.move-down-class {
  animation-name: movedown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0% {
    transform: translateY(-8%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.move-up-class {
  animation-name: moveup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveup {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.move-right-class {
  animation-name: moveright;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-left-class {
  animation-name: moveleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveleft {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*---------------- Presentation of EVOO ----------------*/
#presentation-EVOO {
  background-color: rgb(48, 47, 47);
  height: 70vh;
}

#presentation-EVOO-container {
  color: rgb(232, 235, 238);
  display: flex;
  align-items: center;
  height: 70vh;
}

#flex-limited-edition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  position: absolute; /* new */
  left: 50%;
  transform: translateX(-50%);
}

#flex-limited-edition div > img {
  border-radius: 1000px;
  height: 50vh;
  object-fit: cover;
  opacity: 0;
}

.move-right-img-class {
  animation-name: moveImgRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveImgRight {
  0% {
    transform: translateX(-10%) rotate(270deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) rotate(270deg);
    opacity: 1;
  }
}

#flex-limited-edition div > p {
  margin-top: 1em;
}

#organic {
  transform: rotate(270deg);
  font-size: 56px;
  flex: 0 1 auto;
  margin-left: 25%;
  opacity: 0;
}

#right-text {
  width: 17%;
  text-align: center;
  font-size: 24px;
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 17%;
  opacity: 0;
}

#right-text > p {
  margin-bottom: 1em;
  font-size: 18px;
}

/*---------------- The Estates ----------------*/
#the-estates {
  background-image: url(../img/car1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#the-estates-text {
  max-width: 25%;
  opacity: 0;
  position: relative;
  left: 7%;
  top: -25%;
}

#the-estates-text h2 {
  margin-bottom: 1em;
}

/*---------------- Manifesto ----------------*/
#manifesto {
  background-color: var(--black-gray);
  color: var(--white);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#manifesto div {
  width: 30%;
}

#manifesto div:first-child {
  margin-right: 100px;
  margin-left: 3%;
}

#manifesto img {
  width: 65vh;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 3%;
  opacity: 0;
}

#manifesto-test-right {
  opacity: 0;
}

#manifesto-test-right h2,
#manifesto-test-right p {
  margin-bottom: 1em;
}

/*---------------- Quality Awards ----------------*/
#quality-awards {
  background-color: var(--gray);
  width: 100%;
  height: 50vh;
}

#quality-awards-grid-container {
  padding-top: 5em;
  padding-left: 100px;
  padding-right: 100px;
  color: var(--black);
  display: grid;
  grid-column-gap: 15px;
  grid-template-areas:
    "header header header header header header"
    "content content content content content content"
    "box-1 box-2 box-3 box-4 box-5 box-6";
}

.item-award {
  margin-bottom: 200px;
  margin-top: 100px;
  height: 50px;
}

#quality-awards-header {
  grid-area: header;
  justify-self: center;
  margin-bottom: 50px;
  opacity: 0;
}

#quality-awards-content {
  grid-area: content;
  justify-self: center;
  opacity: 0;
}

#box-1 {
  grid-area: box-1;
  background-color: #770615;
  opacity: 0;
}

#box-2 {
  grid-area: box-2;
  background-color: #9e9d24;
  opacity: 0;
}

#box-3 {
  grid-area: box-3;
  background-color: #240655;
  opacity: 0;
}

#box-4 {
  grid-area: box-4;
  background-color: #9e9d24;
  opacity: 0;
}

#box-5 {
  grid-area: box-5;
  background-color: #24829e;
  opacity: 0;
}

#box-6 {
  grid-area: box-6;
  background-color: #419e24;
  opacity: 0;
}

/*---------------- Footer ----------------*/
footer {
  background-color: var(--white);
}
#grid-footer {
  margin-top: 60px;
  font-size: 16px;
  display: grid;
  grid-template-areas: "our-groves your-evoo quality-awards logo quality-characteristics gallery contact";
  align-items: center;
  justify-content: center;
  grid-column-gap: 100px;
  margin-right: 1vw;
}

#grid-footer div a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

#grid-footer div a:hover {
  color: var(--gold);
}

#our-groves-item {
  grid-area: our-groves;
}

#your-evoo-item {
  grid-area: your-evoo;
}

#quality-awards-item {
  grid-area: quality-awards;
}

#logo-item {
  grid-area: logo;
}

#logo-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#quality-characteristics-item {
  grid-area: quality-characteristics;
}

#gallery-item {
  grid-area: gallery;
}

#contact-item {
  grid-area: contact;
}

#social-icon-items {
  display: grid;
  margin-left: 6em;
  margin-right: 5em;
  font-size: 16px;
  grid-gap: 0.5em;
  grid-template-areas: "facebook instagram youtube twitter";
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
}

#social-icon-items a:nth-child(1) {
  grid-area: facebook;
}

#social-icon-items a:nth-child(2) {
  grid-area: instagram;
}

#social-icon-items a:nth-child(3) {
  grid-area: youtube;
}

#social-icon-items a:nth-child(4) {
  grid-area: twitter;
}

#social-icon-items img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

hr {
  margin-top: 0.5em;
  width: 60%;
  border-color: var(--gold);
}

/*------------------------------------ About us ------------------------------------*/
.padding-top-bottom {
  padding-top: 70px;
  padding-bottom: 70px;
}

.headers-specs {
  padding: 4vh;
  text-align: center;
  font-size: 42px;
  font-weight: 1000;
}
/*---------------- Our Family ----------------*/
/* All headers at the top of a section */
/* .margin-left-300px {
  margin-left: 300px;
}

.margin-right-300px {
  margin-right: 300px;
} */

#header-our-family {
  background-color: var(--gray);
}
#backround-our-family-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#backround-our-family-container div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 18px;
  margin-left: 200px;
  margin-bottom: 30px;
  animation-name: ourFamilyText;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes ourFamilyText {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

#backround-our-family-container div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 200px;
  animation-name: ourFamilyImage;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translate(0%, 0%);
}

@keyframes ourFamilyImage {
  0% {
    transform: translate(5%, 5%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

/*---------------- Our Vision ----------------*/
#backround-our-vision h2 {
  background-color: var(--dark-gray);
  color: var(--black);
}

#grid-our-vision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  justify-content: center;
  align-items: center;
  background-color: var(--black-gray);
  color: var(--white);
}

#grid-our-vision div:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 200px;
  opacity: 0;
}

#grid-our-vision div:last-child {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 200px;
  opacity: 0;
}

/*---------------- Our Land ----------------*/
#backround-our-land h2 {
  background-color: var(--gray);
}

#our-land {
  background-image: url(/Mylonas-Family-Groves-Website/src/img/land1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#our-land p:first-child {
  margin-top: 2%;
}

#our-land > p {
  margin-top: 0.5%;
  width: 40%;
  opacity: 0;
}

/*---------------- Meet Us ----------------*/
#meets-us {
  background-color: var(--gray);
  text-align: center;
}

#backround-meet-us h2 {
  background-color: var(--dark-gray);
}

#grid-meet-us {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0px 10% 0px 13%;
  padding: 70px 0 70px 0;
}

#grid-meet-us > div p {
  margin-top: 3px;
  font-size: 16px;
}

#grid-meet-us > div {
  width: 75%;
}

.move-right-george {
  animation-name: moveRightGeorge;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

@keyframes moveRightGeorge {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-right-giouli {
  animation-name: moveRightGiouli;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes moveRightGiouli {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-right-jim {
  animation-name: moveRightJim;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes moveRightJim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-right-sakis {
  animation-name: moveRightSakis;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveRightSakis {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*  George  */
#grid-meet-us div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  opacity: 0;
}

/*  Giouli  */
#grid-meet-us div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  opacity: 0;
}

/*  Jim  */
#grid-meet-us div:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  opacity: 0;
}

/*  Sakis  */
#grid-meet-us div:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  opacity: 0;
}

/*------------------------------------ Products ------------------------------------*/
/*---------------- Your EVOO ----------------*/
#your-evoo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#your-evoo-flex {
  width: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#natures-way {
  margin-left: 2%;
}

/*---------------- Quality ----------------*/
#quality div h2 {
  position: relative;
  color: var(--black);
}

#quality div h2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(/Mylonas-Family-Groves-Website/src/img/phenols.jfif);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.17;
}

#pooring-olive-oil {
  background-image: url(/Mylonas-Family-Groves-Website/src/img/aceites_in_black.png);
  /* Full height */
  height: 80vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------- Characteristics ----------------*/
#characteristics div h2 {
  position: relative;
  color: var(--black);
}

#characteristics div h2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(/Mylonas-Family-Groves-Website/src/img/oil-drops-black.jpg);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.17;
}

#characteristics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  padding-top: 30px;
  padding-bottom: 30px;
}

#characteristics-container > p {
  margin-top: 40px;
  margin-right: 5%;
  width: 25%;
  opacity: 0;
}

#characteristics-container > img {
  opacity: 0;
}

.move-right-characteristics-text {
  animation-name: moveRightCharacteristicsText;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes moveRightCharacteristicsText {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-right-characteristics-image {
  animation-name: moveRightCharacteristicsImage;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes moveRightCharacteristicsImage {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*------------------------------------ Our Groves ------------------------------------*/
/*---------------- From Our Groves to Your Table ----------------*/
#our-groves div h2 {
  position: relative;
  color: var(--black);
}

#our-groves div h2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(/Mylonas-Family-Groves-Website/src/img/olive-groves-sea5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.17;
}

#our-groves-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  padding-top: 40px;
  padding-bottom: 40px;
}

#our-groves-container > p {
  margin-bottom: 40px;
  text-align: center;
  width: 40%;
}

/*---------------- Gallery ----------------*/
#gallery {
  /* height: 85vh; */
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gallery h2 {
  background-color: var(--dark-gray);
  color: var(--black);
  width: 100%;
}

#lines-flex {
  display: flex;
  margin-top: 20px;
}

.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 40px;
  margin-left: 700px;
}

.v2 {
  border-left: 1px solid rgb(0, 0, 0);
  margin-left: 132px;
}

.v3 {
  border-left: 1px solid rgb(0, 0, 0);
  margin-left: 155px;
}

.v4 {
  border-left: 1px solid rgb(0, 0, 0);
  margin-left: 190px;
}

.line-2 {
  border-top: 1px solid black;
  width: 1920px;
}

.flex-list-gallery {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 80px;
}

.nav-item-gallery {
  border-radius: 300px;
}

.margin-left-3em {
  margin-left: 3em;
}

.margin-right-3em {
  margin-right: 2rem;
}

.flex-list-gallery li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  padding: 5px;
  border: 3px solid var(--gray);
}

.flex-list-gallery li a:hover {
  border: 3px solid var(--gold);
  border-radius: 300px;
  background-color: #f5f5f5;
  transition: 0.15s;
}

/*----------------- Gallery's Photos -----------------*/

#gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 75vh;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 100px;
  grid-column-gap: 0.3em;
}

#gallery-container .gallery-item {
  /* background-color: #419e24; */
  /* border: 3px solid var(--black-gray); */
}

#gallery-container .gallery-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

#gallery-container .gallery-item img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: 2px;
}

#gallery-container div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gallery-container div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gallery-container div:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gallery-container div:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gallery-container div:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gallery-container div:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#gallery-container div:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#gallery-container div:nth-child(8) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#gallery-container div:nth-child(9) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*----------------- Gallery's Pop Up Box -----------------*/

#gallery-container-popup {
  background-color: #8c7da5;
  height: 30em;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
}

#gallery-image-popup {
  background-color: #24829e;
  width: 960px;
  height: 500px;
}

#gallery-image-popup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#arrow-previous img,
#arrow-next img {
  height: 100%;
  object-fit: cover;
  height: 5vh;
  cursor: pointer;
}

#play-pause-cancel {
  margin-bottom: 40px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-top: 8px;
}

#play-pause-cancel:hover {
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 5px;
  padding-top: 8px;
}

#play,
#pause,
#cancel {
  padding: 2px;
}

/*---------------- Contact Us ----------------*/
#contact-us {
  height: 100vh;
}

.text-red {
  color: var(--red);
}

#contact-us {
  margin-top: 5%;
}

#contact-us > div:first-child {
  text-align: center;
}

#contact-form fieldset {
  margin: 1% 25% 1% 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray);
  padding: 50px 0px 50px 0px;
  border-radius: 3px;
}

.field-item {
  display: flex;
  flex-direction: column;
  width: 70%;
}

textarea {
  width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

#contact-form .field-item label {
  margin-top: 3px;
  font-weight: bold;
}

/* Trim the edges of the input tags and enlarge them */
#contact-form .field-item input,
#contact-form .field-item select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}

#submit-btn {
  margin: 10px 0;
  padding: 1rem;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--black-gray);
  color: var(--white);
}

/* Validation Form output errors*/
#check-first-name {
  margin: 0px;
  color: red;
  font-size: 0.75em;
  margin-bottom: 1em;
}

#check-last-name {
  margin: 0px;
  color: red;
  font-size: 0.75em;
  margin-bottom: 1em;
}

#check-email {
  margin: 0px;
  color: red;
  font-size: 0.75em;
  margin-bottom: 1em;
}

#check-phone {
  margin: 0px;
  color: red;
  font-size: 0.75em;
  margin-bottom: 1em;
}

/*--------- Weather Api ---------*/
#weather-box {
  width: 350px;
  height: 18vh;
  background-color: #9787af;
  border-radius: 8px;
  color: var(--white);
}

#city-date {
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24829e;
}

#weather-description-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#description-icon-container {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  justify-content: center;
}

#description-icon-container img {
  width: 100px;
  object-fit: cover;
}

#date-time {
  font-size: 14px;
}

#weather-description-text {
  font-size: 14px;
}

#live-temperature {
  font-size: 55px;
}

#feels,
#humidity {
  font-size: 14px;
}

/* Desktop Screen Resolutions 1536x864 , 1366x768*/
/* Tablet  Screen Resolutions 1280x800 , 768x1024*/
/* Mobile  Screen Resolutions 360x640*/

/*------------------ Burger Menu ------------------*/
#burger-menu {
  display: none;
}

/*------------- Responsive for Laptops -------------*/
/* Play the animation only in 1920px*/
@media only screen and (max-width: 1919px) {
  #welcome {
    background-image: url("/Mylonas-Family-Groves-Website/src/img/vector images/Milonas_land_illustration-01.png");
  }

  #tree,
  #clouds,
  #olive,
  #mill,
  .cls-2mill,
  #woman,
  #tree,
  #clouds,
  #olive,
  #mill,
  .cls-2mill,
  #woman,
  .cls-7woman,
  .leaves,
  .nearleaves,
  .secondaryleaves,
  .small-olives,
  #olive1,
  #olive2,
  #olive3,
  #olive4,
  #olive5,
  #olive6,
  #olive7,
  #olive8,
  #olive9,
  #olive10,
  #olive11,
  #olive12,
  #olive13,
  #olive14,
  #olive15,
  #olive16 {
    display: none;
  }
}

/* max-width:1536px */
@media only screen and (max-width: 1536px) {
  #organic {
    margin-left: 20%;
  }

  #right-text {
    margin-right: 15%;
  }

  #backround-our-family-container {
    grid-column-gap: 70px;
  }

  #backround-our-family-container div:nth-child(1) {
    margin-left: 100px;
  }

  #backround-our-family-container div:nth-child(2) {
    margin-right: 100px;
  }

  #grid-our-vision {
    grid-column-gap: 70px;
  }

  #grid-our-vision div:first-child {
    margin-left: 100px;
  }

  #grid-our-vision div:last-child {
    margin-right: 100px;
  }
}

/* max-width:1366px */
@media only screen and (max-width: 1366px) {
  #organic {
    margin-left: 15%;
  }

  #right-text {
    margin-right: 12%;
  }

  #backround-our-family-container {
    grid-column-gap: 60px;
  }

  #grid-our-vision {
    grid-column-gap: 60px;
  }

  #grid-our-vision div:first-child {
    margin-left: 100px;
  }

  #grid-our-vision div:last-child {
    margin-right: 100px;
  }

  #grid-footer > div {
    margin: 30px 0px 0px 10px;
    width: 100%;
  }

  #grid-footer {
    grid-column-gap: 100px;
    margin-right: 2vw;
  }

  #backround-our-family-container {
    height: 75vh;
  }
}

/* ----- Responsive for Tablets -----*/
@media only screen and (max-width: 1280px) {
  #organic {
    margin-left: 15%;
  }

  #right-text {
    margin-right: 12%;
  }

  #grid-footer {
    grid-column-gap: 60px;
  }

  #social-icon-items {
    grid-gap: 0em;
    grid-column-gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  #navigation-bar {
    display: none;
  }

  .menu-wrap {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  }
  /*Place the toggler */
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  /*Style the background for the burger */
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  /*Create the middle line for burger */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  /*Create the top & bot lines for burger */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  /* Place the bot line */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  /*Toggler Animation*/
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  /* Create X lines*/
  .menu-wrap .toggler:checked + .hamburger > div::before,
  .menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  /* Animate X lines when is toggler on*/
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  /*hide Menu*/
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Grey overlay for menu */
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 300vw;
    height: 300vw;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  /*Style the actual Menu*/
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  /*Style the li(s)*/
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  /*Style the a(s)*/
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  .menu-wrap .menu > div > div > ul > li > a:hover {
    color: var(--secondary-color);
  }
  /*Show Menu*/
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.7s;
  }

  #welcome-message {
    margin-top: 3em;
  }

  #welcome-message h3 {
    margin-top: 2rem;
    font-size: 24px;
    color: #b4b5a0;
  }

  .flex-list {
    margin-right: 1rem;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: block;
  }

  #presentation-EVOO-container {
    color: rgb(232, 235, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }

  #flex-limited-edition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  #flex-limited-edition div > img {
    border-radius: 500px;
    height: 40vh;
    object-fit: cover;
  }

  #flex-limited-edition div > p {
    font-size: 14px;
    margin-top: 0.3em;
    flex: 0 0 0;
  }

  #organic {
    transform: rotate(0deg);
    font-size: 42px;
    margin-left: 0%;
    margin-top: 3%;
    flex: 0 0 0;
  }

  @keyframes moveImgRight {
    0% {
      transform: translateX(-10%) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0%) rotate(0deg);
      opacity: 1;
    }
  }

  #right-text {
    width: 70%;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0%;
    margin-top: 380px;
    margin-bottom: 2%;
  }

  #right-text p {
    margin-bottom: 0.4em;
    font-size: 14px;
  }

  #manifesto {
    flex-direction: column;
  }

  #manifesto div {
    width: 80%;
  }

  #manifesto div:first-child {
    margin-right: 0px;
  }

  #manifesto div img {
    width: 400px;
  }

  #manifesto-test-right p {
    margin-bottom: 0.4em;
    font-size: 16px;
  }

  #manifesto-test-right {
    margin-bottom: 4em;
  }

  #grid-footer {
    margin-top: 30px;
    padding-left: 26%;
    padding-right: 24%;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "our-groves your-evoo quality-awards "
      "logo logo logo"
      "quality-characteristics gallery contact";
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #grid-footer > div {
    margin: 30px 50px 0px 0px;
    width: 100%;
  }

  #social-icon-items {
    margin-left: 70px;
  }

  #backround-our-family-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }

  #backround-our-family-container div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    margin-bottom: 0px;
  }

  #backround-our-family-container div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 20%;
    margin-right: 0px;
    margin-bottom: 30px;
    width: 60%;
    object-fit: cover;
  }

  #backround-our-family-container div:nth-child(2) img {
    width: 100%;
    object-fit: cover;
  }

  #grid-our-vision {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    height: 80vh;
  }

  #grid-our-vision div:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    margin-left: 20%;
  }

  #grid-our-vision div:first-child img {
    width: 50%;
    object-fit: cover;
  }

  #grid-our-vision div:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-right: 0px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 60px;
    font-size: 16px;
  }

  #our-land {
    background-image: url(/Mylonas-Family-Groves-Website/src/img/village_only.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
  }

  #our-land > p {
    margin-top: 0%;
    width: 35%;
    padding: 15px;
    opacity: 0;
  }

  #meets-us {
    background-color: var(--gray);
    text-align: center;
  }

  #backround-meet-us h2 {
    background-color: var(--dark-gray);
  }

  #grid-meet-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0px 10% 0px 13%;
    grid-column-gap: 5px;
  }

  #grid-meet-us > div p {
    margin-top: 3px;
    font-size: 14px;
  }

  #grid-meet-us > div {
    width: 95%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #grid-meet-us > div img {
    width: 80%;
    object-fit: cover;
  }

  /*  George  */
  #grid-meet-us div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  /*  Giouli  */
  #grid-meet-us div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /*  Jim  */
  #grid-meet-us div:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  /*  Sakis  */
  #grid-meet-us div:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  #characteristics-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #characteristics-container > p {
    width: 80%;
  }
}

/* Responsive for Smartphones */
@media only screen and (max-width: 360px) {
  #welcome-message {
    margin-top: 3em;
  }

  #welcome-message h2 {
    font-size: 38px;
  }

  #welcome-message h3 {
    font-size: 20px;
    color: #b4b5a0;
    width: 90%;
    margin: 15px 2vw 0vw 4vw;
  }

  #presentation-EVOO-container {
    color: rgb(232, 235, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }

  #flex-limited-edition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  #flex-limited-edition div > img {
    border-radius: 500px;
    height: 25vh;
    object-fit: cover;
    margin-top: 4em;
  }

  #flex-limited-edition div > p {
    font-size: 14px;
    margin-top: 0.3em;
    flex: 0 0 0;
  }

  #organic {
    transform: rotate(0deg);
    font-size: 38px;
    margin-left: 0%;
    margin-top: 13%;
    flex: 0 0 0;
  }

  #right-text {
    width: 70%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0%;
    margin-top: 80%;
    margin-bottom: 3%;
  }

  #right-text p {
    margin-bottom: 0.8em;
    font-size: 12px;
  }

  #manifesto {
    flex-direction: column;
  }

  #manifesto div {
    width: 80%;
  }

  #manifesto div:first-child {
    margin-right: 0px;
  }

  #manifesto img {
    margin-top: 22vh;
    height: 200px;
    object-fit: cover;
  }

  #manifesto-test-right p {
    margin-bottom: 0.3em;
    font-size: 14px;
  }

  #manifesto-test-right {
    margin-bottom: 15em;
  }

  #quality-awards {
    background-color: var(--gray);
    width: 100%;
    height: 51vh;
  }

  #quality-awards-grid-container {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    color: var(--black);
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas:
      "header header header header header header" "content content content content content content"
      "box-1 box-1 box-1 box-2 box-2 box-2"
      "box-3 box-3 box-3 box-4 box-4 box-4" "box-5 box-5 box-5 box-6 box-6 box-6";
  }

  .item-award {
    margin-bottom: 0px;
    margin-top: 15px;
    height: 50px;
    opacity: 0;
  }

  #quality-awards-header {
    grid-area: header;
    justify-self: center;
    margin-bottom: 15px;
  }

  #quality-awards-content {
    margin-bottom: 15px;
    text-align: center;
  }

  #grid-footer {
    margin-top: 30px;
    padding-left: 26%;
    padding-right: 24%;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "our-groves your-evoo quality-awards "
      "logo logo logo"
      "quality-characteristics gallery contact";
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #grid-footer > div {
    margin: 30px 0px 0px 0px;
    width: 100%;
  }

  #social-icon-items {
    margin-left: 70px;
  }

  #backround-our-family-container {
    height: 100vh;
  }

  #backround-our-family-container div:nth-child(1) {
    margin-bottom: 0px;
    margin-top: 20px;
  }

  #backround-our-family-container div:nth-child(2) {
    margin-left: 0%;
    width: 100%;
  }

  #backround-our-family-container div:nth-child(2) img {
    width: 100%;
  }

  #grid-our-vision {
    grid-row-gap: 20px;
    height: 100vh;
  }

  #grid-our-vision div:first-child {
    width: 100%;
    margin-left: 17%;
  }

  #grid-our-vision div:first-child img {
    width: 70%;
    object-fit: cover;
  }

  #grid-our-vision div:last-child {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 70px;
  }

  #our-land {
    background-image: url(/Mylonas-Family-Groves-Website/src/img/village_only.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
  }

  #our-land > p {
    margin-top: 0%;
    width: 70%;
    padding: 0px;
    margin-bottom: 10px;
  }

  #grid-meet-us {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0px 10% 0px 13%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #grid-meet-us > div p {
    margin-top: 3px;
    font-size: 14px;
  }

  #grid-meet-us > div {
    width: 95%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #grid-meet-us > div img {
    width: 80%;
    object-fit: cover;
  }

  /*  George  */
  #grid-meet-us div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /*  Giouli  */
  #grid-meet-us div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /*  Jim  */
  #grid-meet-us div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /*  Sakis  */
  #grid-meet-us div:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #characteristics-container img {
    width: 90%;
    object-fit: cover;
  }

  #contact-us {
    height: 120vh;
  }

  #contact-form fieldset {
    margin: 1% 15% 1% 15%;
    width: 70%;
  }

  .field-item {
    width: 80%;
  }
}

/* Vertical media query */
@media (max-height: 700px) {
  #welcome {
    min-height: 120vh;
  }

  #presentation-EVOO {
    min-height: 80vh;
  }

  #presentation-EVOO-container {
    min-height: 70vh;
  }

  #flex-limited-edition div > img {
    min-height: 50vh;
  }

  #the-estates {
    min-height: 120vh;
  }

  #manifesto {
    min-height: 80vh;
  }

  #quality-awards {
    min-height: 60vh;
  }

  .item-award {
    min-height: 50px;
  }

  footer {
    background-color: var(--white);
  }

  #backround-our-family-container {
    min-height: 80vh;
  }

  #backround-our-family-container div:nth-child(2) img {
    width: 85vh;
    object-fit: cover;
  }

  #our-land {
    min-height: 130vh;
  }

  .characteristics-image {
    width: 80vh;
    object-fit: cover;
  }

  #your-evoo-flex img {
    width: 70vh;
  }

  #contact-us {
    min-height: 130vh;
  }
}
